.admin-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-button:hover {
    background-color: #0056b3;
}


.admin-error {
    color: red;
    margin-top: 10px;
}


.admin-nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.admin-nav ul {
    list-style: none;
    padding: 0;
}

.admin-nav li {
    display: inline;
    margin-right: 20px;
}

.admin-nav a {
    text-decoration: none;
    color: #fff;
}

.admin-nav a:hover {
    text-decoration: underline;
}
