.principal-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.post-list {
    list-style: none;
    padding: 0;
}

.post-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}


.post-link {
    text-decoration: none;
    color: #007bff;
}

.post-link:hover {
    text-decoration: underline;
}


.delete-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #cc0000;
}


.admin-notification {
    color: green;
}


.nav-menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover {
    text-decoration: underline;
}
