*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: #0b2d46;
    overflow-x: hidden;
}

header{
    background-color: #222831;
    color: #fff;
    height: 13vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

}
header img{
 width: 5vw;
 height: 10vh;
 margin-left: 4vw;
}


.nav-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 4vw;
}

.nav-menu ul li {
    transition: all 0.3s;
    
}

.nav-menu ul li:hover {
    transform: scale(1.1);
    /*border: 1px solid #51b7ff ;*/

}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 3vw;
    transition: all 0.3s;
}

.nav-menu a:hover {
    /*text-decoration: underline;*/
    transform: scale(1.1);
    color: rgb(62, 138, 209);
}

.post-item {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: rgb(62, 138, 209);
    width: 50vw;
    transition: transform 0.5s; 
    height: 15vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    word-break: break-all;
}
.post-item:hover {
    transform: scale(1.1);
}


.post-link {
    text-decoration: none;
    color: #282e33;
    
}

.contenedor{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.delete-button {
    background-color: #640000;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 7px;
    width: 10vw;
}
.delete-button:hover {
    background-color: #4d0b0b;
}


.admin-notificacion {
    color: rgb(0, 168, 0);
    width: 100vw;
    text-align: center;
    font-size: 40px;
}

